---
import Layout from '../../layouts/Layout.astro';
import PresentacionSemana13 from '../../components/PresentacionSemana13.tsx';
---

<Layout title="Unidad 4 - Tema 1: WooCommerce - E-Commerce en WordPress - ITSAE">
	<main>
		<!-- Presentación -->
		<PresentacionSemana13 client:load />
	</main>
</Layout>